*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    margin: 30px;
    font-size: 6vmin;
    text-decoration: underline;
}

.container{
    height: 60vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 12px;
    border: none;
    box-shadow: 5px 5px 10px black;
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    margin: 10px;
}
.newbtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 300px;
}
.message{
    color: white;
    font-size: 6vmin;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin-top: 300px;
}

.hide{
    display: none;
}